<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Recipe</title>
</head>
<body>
    <h1>Create a New Recipe</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}
        </p>
        <p>
            {{ form.calories.label }}<br>
            {{ form.calories() }}
        </p>
        <p>
            {{ form.region_category.label }}<br>
            {{ form.region_category() }}
        </p>

        <p>
            {{ form.instructions.label }}<br>
            {{ form.instructions(rows=5, cols=40) }}
        </p>
        <p>
            {{ form.servings.label }}<br>
            {{ form.servings() }}
        </p>
        <h3>Ingredients</h3>
            <p>
                    {{ingredient_form.name.label}}<br>
                    {{ingredient_form.name(size=40)}}
            </p>
            <p>
                    {{ingredient_form.type.label}}<br>
                    {{ingredient_form.type()}}
            </p>
            <p>
                    {{recipe_ingredient.amount.label}}<br>
                    {{recipe_ingredient.amount()}}<br>
                    {{recipe_ingredient.unit.label}}<br>
                    {{recipe_ingredient.unit()}}
            </p>
        <p>{{ form.submit() }}</p> 
    </form>
</body>
</html>