{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Ingredients</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🍕</text></svg>">
</head>
<body>
    <h1>Add Your Ingredients</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div id - "ingredient-container">
            <div class = "ingredient-group">
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type() }}
        </p>
    </div>
</div>
        <button type = "button" onclick = "addIngredient()"> Add another ingredient.</button>
        <p>{{ form.submit() }}</p>
    </form>
    <script> 
        function addIngredient() {
            const container = document.getElementById("ingredient-container");
            const newIngredientGroup = container.firstElementChild.cloneNode(true);
            container.appendChild(newIngredientGroup);
        }
    </script>
</body>
</html> {% endcomment %}