<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Recipes</title>
</head>
<body>
    <h1>Your Recipes</h1>
    {% if recipes %}
        <ul>
        {% for recipe in recipes %}
            <li>
                <h2>{{ recipe.title }}</h2>
                <p>Average Rating: {{ average_ratings[recipe.recipe_id] | round(2) if average_ratings.get(recipe.recipe_id) is not none else 'Not rated yet'}}/5</p>
                <p>Calories: {{ recipe.calories }}</p>
                <p>Region: {{ recipe.region_category }}</p>
                <p>Servings: {{ recipe.servings }}</p>
                <p>Instructions: {{ recipe.instructions | replace('\n', '<br>') }}</p>

                <h3>Reviews</h3>
                {% if recipe.reviews %}
                    <ul>
                    {% for review in recipe.reviews %}
                        <li>
                            <h4>User: {{ review.user.username }} | Rating: {{ review.score }}/5</h4>
                            <p>{{ review.review_text }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No reviews yet.</p>
                {% endif %}
                <a href="{{ url_for('main.delete_recipe', recipe_id=recipe.recipe_id) }}">Delete</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven’t created any recipes yet.</p>
    {% endif %}
    <button><a href="{{ url_for('main.create_recipe')}}">Add New Recipe</a></button>
    
</body>
</html>
