<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ recipe.title }} - by {{ recipe.author.username }}</h1>
<p>Calories: {{ recipe.calories }}</p>
<p>Region: {{ recipe.region_category }}</p>
<p>Servings: {{ recipe.servings }}</p>
<p>Ingredients: </p>
<p>Instructions: {{ recipe.instructions | replace('\n', '<br>') }}</p>

<h2>Reviews</h2>
{% if recipe.reviews %}
    <ul>
    {% for review in recipe.reviews %}
        <li>
            <h3>User: {{ review.user.username }} | Rating: {{ review.score }}/5</h3>
            <p>{{ review.review_text }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews yet.</p>
{% endif %}

<h2>Leave a Review</h2>
{% if current_user.is_authenticated %}
<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.score.label }}<br>
        {{ form.score() }}
    </p>

    <p>
        {{ form.review_text.label }}<br>
        {{ form.review_text(rows=4, cols=50) }}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% else %}
    <p><a href="{{ url_for('auth.login') }}">Log in</a> to leave a review.</p>
{% endif %}

</ul>
</body>
</html>