<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ recipe.title }} - by {{ recipe.author.username }}</h1>
<p>Calories: {{ recipe.calories }}</p>
<p>Region: {{ recipe.region_category }}</p>
<p>Servings: {{ recipe.servings }}</p>
<p>Instructions: {{ recipe.instructions | replace('\n', '<br>') }}</p>

<h2>Reviews</h2>
{% if recipe.reviews %}
    <ul>
    {% for review in recipe.reviews %}
        <li>
            <h3>User: {{ review.user.username }} | Rating: {{ review.score }}/5</h3>
            <p>{{ review.review_text }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews yet.</p>
{% endif %}


</ul>
</body>
</html>