<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Recipes</title>
</head>
<body>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{{ url_for('main.recipe_page', recipe_id=recipe.recipe_id) }}">
                    {{ recipe.title }}
                </a>
                — by {{ recipe.author.username }}
                Average Rating: {{ average_ratings[recipe.recipe_id] | round(2) if average_ratings.get(recipe.recipe_id) is not none else 'Not rated yet'}}/5
            </li>
        {% endfor %}
    </ul>
</body>
</html>
